.card-container {
    text-align: center;
    width: 25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.card-image {
    height: 16rem;
    object-fit: fill;
}

.episode-card-container{
    display: flex;
    width: 70rem;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #5065a8;
}

.card-inner-container{
    display: flex;
    gap: 30px;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}

.episode-description{
    height: 100%;
}

.episode-more-info{
    display: flex;
}

.episode-image {
    height: 16rem;
    object-fit: fill;
}