body {
    height: 100vh;
}

.main {
    height: 100%;
}

.inner-container {
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 150px;
}

#root {
    height: 100%;
    padding-bottom: 50px;
}

p {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Protest Riot', sans-serif;
}