body {
    height: 100vh;
}

.main {
    height: 100%;
}

@media(min-width:40em){
    .inner-container {
        padding-top: 4rem;
        padding-left: 9rem;
        padding-right: 9rem;
        padding-bottom: 9rem;
    }
}

#root {
    height: 100%;
    padding-bottom: 4rem;
}

p {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Protest Riot', sans-serif;
}