.card-container{
    width: 25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    /* height: 418px; */
}

.card-image{
    height: 16rem;
    object-fit: cover;
}

.podcast-description{
    height: 5rem;
}