.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    max-width: 85em;
}

.latest-container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    max-width: 20em;
    gap: 1.5em;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.latest-container-episodes {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 8px;
    max-width: 20em;
    gap: 1.5em;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottom-section {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.podcast-image {
    height: 12rem;
    width: 100%;
}

.podcast-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
}

.podcast-description {
    height: 100%;
}

.podcast-more-info {
    font-style: oblique;
}

.additional-podcast-container {
    max-width: 20em;
    min-height: 24em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    cursor: pointer;
}

/* .info-section {
    display: flex;
    flex-direction: column;
    min-height: 10em;
    padding: 0.9em;
} */

.additional-podcast-description {
    font-size: 15px;
    height: 100%;
}

.additional-podcast-more-info {
    font-style: oblique;    
}

@media(min-width:50em){
    .latest-container {
        display: flex;
        flex-direction: row;    
        border-radius: 8px;
        max-width: 85em;
        gap: 1.5em;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }       
    .latest-container-episodes {
        display: flex;
        flex-direction: row;    
        border-radius: 8px;
        max-width: 85em;
        gap: 1.5em;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .podcast-info {
        display: flex;
        width: 75%;
        flex-direction: column;
        justify-content: space-around;
        padding: 18px;
    }

    .bottom-section {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .podcast-image {
        height: 20em;
        max-width: 35em;
    }
}