.podcast-details-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.podcast-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1250px;
    border-bottom: 1px solid #5065a8;
}

.podcast-description {
    text-align: center;
    width: 700px;
}

.episodes-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.episodes {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.dash{
    width: 70rem;
    border-top: 1px solid black;
}

.title{
    margin: 20px 0;
}